<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/resurse/css/galerie3.css">

</head>
<body>

<div id="galerie_exemplu" class="galerie">
	<div>
		<figure>
			<img src="/resurse/imagini/photo1.jpg" alt="cladire colorata" />
			<figcaption>Cladire colorata</figcaption>
		</figure>
		<figure>
			<img src="/resurse/imagini/photo2.jpg" alt="lampioane" />
			<figcaption>Lampioane</figcaption>
		</figure>
		<figure>
			<img src="/resurse/imagini/photo3.jpg" alt="gradinita" />
			<figcaption>Gradinita</figcaption>
		</figure>
		<figure>
			<img src="/resurse/imagini/photo4.jpg" alt="peisaj" />
			<figcaption>Peisaj</figcaption>
		</figure>
		<figure>
			<img src="/resurse/imagini/photo5.jpg" alt="piateta" />
			<figcaption>Piateta</figcaption>
		</figure>
		<figure>
			<img src="/resurse/imagini/photo2.jpg" alt="pietre" />
			<figcaption>Pietre</figcaption>
		</figure>
		<figure>
			<img src="/resurse/imagini/photo2.jpg" alt="plante" />
			<figcaption>Plante</figcaption>
		</figure>
	</div>
</div>







</body>
</html>
