<!DOCTYPE html>
<html>
    
    <head>
        <meta name="keywords" content="husa,telefon,silicon,personalizata,samsung,iphone,huawei,xiaomi,htc">
        <meta name="description" content="Cele mai bune huse pentru telefonul tau, la cel mai bun pret.">

        <%- include("../fragmente/head.ejs") %>

        <title>Husse</title>
        
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
    <main>
        <section>
            <h2>403!!!!!!!!!!!!!!!!!!!!!!!!!!!forbidden access!!!!!!!!!</h2>
        </section>
    </main>
        <%- include("../fragmente/footer.ejs") %>
    </body>
</html>