<!DOCTYPE html>
<html>
    
    <head>
        <meta name="keywords" content="husa,telefon,silicon,personalizata,samsung,iphone,huawei,xiaomi,htc">
        <meta name="description" content="Cele mai bune huse pentru telefonul tau, la cel mai bun pret.">

        <%- include("../fragmente/head.ejs") %>

        <title>Husse</title>
        
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
    <main>
        <section style="margin-top: 150px">
            <p style="font-size: 150px">Error 404! :(</p>
            <p style="font-size: 50px;">Pagina nu a fost gasita.</p>
        </section>
    </main>
        
    </body>
</html>