<!DOCTYPE html>
<html>
    
    <head>
        <meta name="keywords" content="husa,telefon,silicon,personalizata,samsung,iphone,huawei,xiaomi,htc">
        <meta name="description" content="Cele mai bune huse pentru telefonul tau, la cel mai bun pret.">

        <%- include("../fragmente/head.ejs") %>

        <title>Husse</title>
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>
    <main>
        <section class="section-cart">
            <p class="cart">Produse din cos</p>
        </section>

        <button class="buy-btn">Cumpara</button>

        <script>
            //function sendmail()
        </script>
    </main>
        
    </body>
</html>