<footer>

    <div id="watermark">
        <p id="p-wmk">Bucurie<br>Bogdan</p>
    </div>

    <a href="#" id="link-top" title="Catre top-ul paginii!">
        <div id="triunghi">
            
        </div>
    </a>
    <div  id="containerfooter" >
        <div id="div9">
            <ul class = "ulfooter">
                <li><p class="text-grey">Pagina a fost creata in data de <time datetime="2022-05-23">23/05/2022</time></p></li>
                <li><p class="text-grey"><small>Copyright &copy;2022 Bucurie Bogdan | Duta Andrei | Preda Alexandru</small></p></li>
                <li><a class="text-grey" href="/terms-and-conditions"> Termeni si conditii</a></li>
                <li><a class="text-grey" href="/privacy-policy"> Politica de confidentialitate</a></li>
            </ul>
        </div>
        <div id="div2">
            <p class="text-grey"><strong>ORARUL NOSTRU</strong></p>
            <ul class = "ulfooter">
                <li><p class="text-grey">Luni - Joi: 10<sup>00</sup> - 22<sup>30</sup></p></li>
				<li><p class="text-grey">Vineri - Sambata: 10<sup>00</sup> - 23<sup>00</sup></p></li>
				<li><p class="text-grey">Duminica: 10<sup>00</sup> - 22<sup>30</sup></p></li>
            </ul>
        
        </div>
        
    </div>
</footer>  