<footer>

    <div id="watermark">
        <p id="p-wmk">Bucurie<br>Bogdan</p>
    </div>

    <a href="#" id="link-top" title="Catre top-ul paginii!">
        <div id="triunghi">
            
        </div>
    </a>
    <div id="divfooter">
        <p>Pagina a fost creata in data de <time datetime="2021-10-07">07/10/2021</time></p>
        <p><small>Copyright &copy;2021 Bucurie Bogdan</small><a href="/terms-and-conditions"> Termeni si conditii</a></p>
        <a href="/privacy-policy"> Politica de confidentialitate</a>
        
    </div>
</footer>  