<div class="flex-cont-body">
    <div id="divlogo">
        <h3>Mancarica buna buna</h3>
        <span id="animated-icon">
            <i class="fas fa-cog fa-spin"></i>
        </span>
    </div>

    <div id="section-title">
        <p id="p-title">Mancarica buna buna</p>
    </div>
</div>
<nav id="mainnav">
        <input id="toggle1" type="checkbox"/>
        <label class="hamburger1" for="toggle1">
          <div ></div>
          <div ></div>
          <div ></div>
        </label>
    
        <nav id="divhead">
                <ul id="listameniu">
                    <li class="li_meniu">
                        <a href="/index" class="button"><i class="fas fa-home"></i><span id="span-icon-casa"> Acasă</span> 
                        </a>
                    </li>
                    <li class="li_meniu">
                        <a href="/produsele_noastre" class="button"><span id="span-icon-casa"> Produse </span> 
                        </a>
                    </li>
                    <li class="li_meniu"><a href="/cart" class="button">Cart</a></li>
                    <% if (locals.utilizator && locals.utilizator.rol=="admin") { %> 
                        <li class="li_meniu dropdown">
                            <a href="javascript:void(0)" class="button dropbtn" id="butonmaimulte">Editare produse</a>
                            <ul id="navmaimulte" style="list-style: none;">
                                <div class="dropdown-content">
                                    <li>
                                        <a href="/managementProduse" class="butoanemeniu-c">
                                        <i class="fas fa-arrow-right butoanemeniu-c" 
                                            aria-hidden="true">
                                        </i> Adauga produse
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/stergeProduse" class="butoanemeniu-c">
                                            <i class="fas fa-arrow-right butoanemeniu-c" 
                                            aria-hidden="true">
                                        </i> Sterge produse
                                        </a>   
                                    </li>   
                                    <li>
                                        <a href="/modificaProduse" class="butoanemeniu-c">
                                        <i class="fas fa-arrow-right butoanemeniu-c" 
                                            aria-hidden="true">
                                        </i> Modifica produse
                                        </a>
                                    </li>                
                                </div>
                            </ul>
                        </li>
                    <% } %>
                    <% if (!locals.utilizator) { %>
                        <li class="li_meniu"><a href="/inregistrare" class="button">Inregistrare</a></li>
                    <% }  %>
                    <% if (locals.utilizator && locals.utilizator.rol=="admin") { %> 
                        <li class="li_meniu"><a href="/useri" class="button">Utilizatori</a></li>
                    <% } %>
                    <% if (locals.utilizator) { %>
                        <li class="li_meniu"><a href="/logout" class="button">Logout</a></li>
                    <% }  %>
                    <% if (!locals.utilizator) { %>
                        <form id="login" method="post" action="/login">
                            
                            <label>
                                Username: <input type="text" name="username" value="" class="login">
                            </label>
                            
                            <label>
                                Parola: <input type="password" name="parola" value="" class="login">
                            </label>
                            
                            <input type="submit" value="Login">
                        </form>
                        <% if(locals.mesajLogin) {%>
                            <p style='color:red'>Eroare: <%- locals.mesajLogin %></p>
                        <% } %>
                    <% }        
                    %>
                </ul>
        </nav>
    </nav>
    
