<form id="xd"  method="post" class="date"  action="/modificareProduse"  enctype="multipart/form-data">
    <p>
        <label>
            Id produs:  <input type="text" name="id" id="inp-nume"  value="" >
        </label>
    </p>
    <p>
        <label>
            Nume produs:  <input type="text" name="nume" id="inp-nume"  value="" >
        </label>
    </p>
    <p>
        <label>
            Pret: <input type="text" name="pret" id="inp-prenume" value="" pattern="^[1-9]\d*(\.\d+)?$" >
        </label>
    </p>
    <p>
        <label>
            Nr. Calorii: <input id="parl" type="text" required  name="calorii" value="" pattern="^[1-9]\d*$">
        </label>
    </p>
    <p>
        <label >
            Greutate: <input id="rparl" required type="text" name="greutate" value="">
        </label>
    </p>
    <p>
        <label>
            Poza: <input type="file" name="poza">
        </label>			
    </p>
    <p>		
        <input type="submit" value="Trimite">
        <input type="reset" value="Reseteaza">
    </p>
</form> 